body{
    font-family: "Josefin Sans";
}
.navbar{

background-color: white !important; 
}

footer{
    min-height: 100px;
}

footer p{
    text-align: center;
}    

#iconos i{
    font-size: 20px;
    padding: 0 8px;

} 
#titulo{
    transform:rotateY(360deg);
    transition: transform 5s;
    animation-delay: 2s;   
}



.btn{
    width: auto;
    height: auto;
    background-color: gray;
    color:white;
    animation-name: mianimacion;
    animation-duration:5s;
    animation-delay: 2s;
    position: relative;
}


@keyframes mianimacion {
  
    0%{background-color: gray;}
    50%{background-color: pink; color:black}
    100%{background-color: gray;}

}




@media (max-width:768px){
    #intro{
        width: 90% !important;
    }
    .servicio-fila{
        width: 100% !important;
        text-align: center;
    }
        }

@media (max-width:576px){
    .icono-wrap{
        flex-wrap: wrap;
        justify-content: center !important;
    }
}


@media (min-width:992px){
    .collapse{
        display: flex;
        justify-content: end !important;
    }
}

